:root {
  --blue-color1: #3366FF;
  --dark-color1: #15171A;
  --dark-color2: rgba(18,18,18, 0.38);
  --white-color1: #FFF;
  --white-color2: #FAFAFA; 
  --gray-color1: #B4B8BB;
  --yellow-color1: #FFCC23;
  --green-color1: #35B435FF;
  --red-color1: rgba(219, 38, 41, 0.35);   
  --red-color2: rgba(219, 38, 41, 1);   
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color1);
  color: var(--white-color1);
  width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

.title-container {
  display: flex;
  align-items: center; 
  color: var(--yellow-color1);
}

.icon-title {
  margin-right: 10px;
  vertical-align: middle; 
}

button {
  cursor: pointer;
}

.btn-centered-icon {
  display: flex; 
  align-items: center;
  justify-content: center; 
  padding-top: 0;
  padding-bottom: 0;
}

.button-content {
  display: flex;
  height: 100%;
  align-items: center; 
  justify-content: center;
  width: 100%;
}

.icon-button {
  margin-left: 5px;
  vertical-align: middle;  
}

.animation-pulse-1s {
    animation: pulse;
    animation-duration: 1s;
}

.animation-pulse-2s {
    animation: pulse;
    animation-duration: 2s;
}

.animation-fade-in-downbig-1s {
    animation: fadeInDownBig;
    animation-duration: 1s;
}

.animation-fade-in-downbig-1-5s {
    animation: fadeInDownBig;
    animation-duration: 1.5s;
}