:root {
  --blue-color1: #3366FF;
  --dark-color1: #15171A;
  --white-color1: #FFF;
  --gray-color1: #B4B8BB;  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color1);
  color: var(--white-color1);
  width: 100%;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}