.admin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.admin-container h1{
  margin-bottom: 28px;
}

.btn-register{
  margin-bottom: 2px;
}

.list{
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(-dark-color2);
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 10px !important;
  justify-content: center;
  padding: 14px 8px;
  border: 1px solid var(--gray-color1); 
}

.list p{
  margin-bottom: 8px;
}

.list button{
  height: 25px;
  margin-right: 8px;
  border:0;
  border-radius: 4px;
  padding: 4px;
}

.list div {
  display: flex;
  gap: 8px;
}

.btn-edit {
  color: var(--white-color1);
  background-color: var(--green-color1);
  border: 1px solid var(--white-color1); 
}

.btn-delete{
  color: var(--yellow-color1);
  background-color: transparent;
  border: 1px solid var(--yellow-color1); 
}

.list .btn-delete{
  color: var(--yellow-color1);
  background-color: transparent;
  border: 1px solid var(--yellow-color1); 
}

.btn-logout{
  position: absolute;
  bottom: 6%;
  left: 4%;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border:0;
  font-weight: bold;
  background-color: var(--red-color1);
  color: var(--white-color2);
  transition: all 0.5s;
}

.btn-logout:hover{
  background-color: var(--red-color2);
  color: var(--white-color1);
}

#clear-button-admin {
  margin-top: 10px !important;
  background-color: var(--red-color2) !important; 
  color: var(--white-color1) !important;
}